/* Header.module.css */
.headerContainer {
    all: initial; 
    font-family: sans-serif;
    width: 100%;
    display: block;
    /*makes the header be at the very top of the page*/
    position: relative;
}


/*  makes the links montserat*/
.navLink {
    font-family: 'Montserrat', sans-serif;
    color: white !important;
    text-decoration: none;
    font-size: clamp(12px, 1.2vw, 16px);
    font-weight: 500;
}

/* makes serarch montserrat font */
.searchInput {
    font-family: 'Montserrat', sans-serif;
    border: none;
    outline: none;
    margin-left: 10px;
}

.topSection {
    background-color: #D1D1D1 !important;
    padding: 1rem 2rem;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}

.logoImg {
    height: 60px;
    width: auto;
}

.searchContainer {
    display: flex;
    align-items: center;
    background: white;
    padding: 5px 15px;
    border-radius: 25px;
    border: 1px solid #ccc;
}

.searchIcon {
    width: 20px !important;
    height: 20px !important;
}

.navBar {
    background-color: #842241 !important;
    padding: 3vh;
}

.navList {
    display: flex !important;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4vw;
    list-style: none !important;
    margin: 0;
    padding: 0;
}

.navLink {
    color: white !important;
    text-decoration: none;
    font-size: clamp(12px, 1.2vw, 16px);
    font-weight: 500;
}

.navLink:hover {
    text-decoration: underline;
}



/* this is the part for announcments bar */

.announcementBar {
  background-color: #700028 !important;
  color: white;
  overflow: hidden;
  white-space: nowrap;
  padding: 8px 0;
  font-size: 0.9rem;
}

.tickerWrapper {
  display: flex;
  width: max-content; /* Ensures the container is as wide as the text */
}


.tickerText {
  display: flex;
  white-space: nowrap;
  animation: ticker-move 50s linear infinite;
}

.tickerText span {
  /* This controls the space between entries */
  padding: 0 160px; 
  font-weight: 500;
  font-size: 0.95rem;
}

@keyframes ticker-move {
  0% {
    transform: translateX(0);
  }
  100% {
    
    transform: translateX(-50%);
  }
}

.announcementBar:hover .tickerText {
  animation-play-state: paused;
}