
.html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.hero {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  background-color: #f0f0f0;
  height: 18vh;
}

.hero-container {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.5s ease-in-out;
}

/* Responsive design */
@media (max-width: 768px) {
  .hero {
    height: 30vh;
  }
  
  .hero-container {
    height: 100%;
  }

  .hero-title {
    font-size: 1.5rem;
    bottom: 20px;
    left: 20px;
  }

  .hero-button {
    font-size: 20px;
    padding: 8px 12px;
  }

  .hero-dot {
    width: 10px;
    height: 10px;
  }

  .hero-dot.active {
    width: 12px;
    height: 12px;
  }
}

@media (min-width: 900px) {
  .hero {
    height: 60vh;
  }
}